---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container">
		<Card />
	</main>
</Layout>

<style>
	.container {
		background-color: #F0F0F0;
		font-family: Arial, Helvetica, sans-serif;
	}
</style>